body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

.chat-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.message-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.chat-input {
    margin-top: 20px;
}

.chat-input form {
    display: flex;
}

#input-question {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para preguntas del usuario */
.pregunta {
    background-color: #dedcdc;
    color: #333;
}

/* Estilo para respuestas del sistema */
.respuesta {
    background-color: #61a0fd;
    color: #fff;
}

.pregunta,
.respuesta {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#history-list {
    overflow-y: scroll;
}

ul.lista-conversaciones>li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.respuesta-container {
    display: inline-block;
}

/* Se alterna el color para los items impares */
/* ul.lista-conversaciones > li:nth-child(odd) {
    background-color: #dedcdc;
    color: #333;
} */